/*
Author: Justin Nichols
Class: CSC337 (Web Development)
Purpose: This file contains CSS that is specific to oblivion.html.
*/

header, footer {
	background-color: Black;	
}

header {
	background-image: url(../img/oblivion/oblivion_plane_cover.jpg);
}

nav {
	background-color: Red;
}

h1, h2 {
	color: white;
}

h2 {
	font-family: trattatello, serif;
}

a, p, tr, td {
	color: white;
}

table, th, td {
	border: 1px solid white;
}

#content {
	background-color: black;
}

#featured {
	border: 10px solid Red;
}
