/*
Author: Justin Nichols
Class: CSC337 (Web Development)
Purpose: This file contains CSS that is specific to index.html.
*/

header, footer {
    background-color: black;    
}

header {
    background-image: url(../img/skyrim/skyrim_cover.jpg);
}

nav {
    background-color: gray;
}

h1, h2 {
    color: white;
}

h2 {
    font-family: trattatello, serif;
}

a, p, tr, td {
    color: white;
}

table, th, td {
    border: 1px solid white;
}

#content {
    background-color: black;
}

#featured {
    border: 10px solid gray;
}
